# yaml-language-server: $schema=https://aka.ms/winget-manifest.installer.1.12.0.schema.json
PackageIdentifier: {{PACKAGE_ID}}
PackageVersion: {{VERSION}}
InstallerType: nullsoft
Scope: user
UpgradeBehavior: install
InstallerSwitches:
  Silent: /S
  SilentWithProgress: /S
Installers:
  - Architecture: x64
    InstallerUrl: {{INSTALLER_URL}}
    InstallerSha256: {{INSTALLER_SHA256}}
ManifestType: installer
ManifestVersion: {{MANIFEST_VERSION}}
